@{
    ViewData["Title"] = "Home Page";
}
    
    
<h1 class="display-4, text-center">Welcome to PizzaBox!</h1>
<div class="text-center" style="padding:30px 300px 20px 300px;">
    <p><a asp-controller="AppUser" asp-action="Login" class=" btn-primary btn-lg btn-block">Sign In</a></p>
    <p><a asp-controller="AppUser" asp-action="Create" class=" btn-primary btn-lg btn-block">Sign Up</a></p>
</div>
