@model PizzaBoxWeb.Models.Item

@{
    ViewData["Title"] = "OrderCustomized";
}

<h1>Customized Your Pizza</h1>

<hr />

<div class="row">
    <div class="col-md-4">
        <form asp-action="OrderCustomized">

            <p>Select Pizza Size:</p>
            <div class="form-group">
                <select asp-for="Size">
                    <option value="Small">Small</option>
                    <option value="Medium">Medium</option>
                    <option value="Large">Large</option>
                    <option value="Extra Large">Extra Large</option>
                </select>
            </div>
            <p>Select Pizza Crust</p>
            <div class="form-group">
                <select asp-for="Crust">
                    <option value="Thin">Thin</option>
                    <option value="Thick">Thick</option>
                    <option value="Flatbread">Flatbread</option>
                </select>
            </div>
            <p>Select Toppings: (min:2 max:5)</p>
            <div class="form-group">
                <select asp-for="Topping1">
                    <option value="Pepperoni">Pepperoni</option>
                    <option value="Mushrooms">Mushrooms</option>
                    <option value="Onions">Onions</option>
                    <option value="Sausage">Sausage</option>
                    <option value="Bacon">Bacon</option>
                    <option value="Extra cheese">Extra cheese</option>
                    <option value="Black olives">Black olives</option>
                    <option value="Green peppers">Green peppers</option>
                </select>
            </div>
            <div class="form-group">
                <select asp-for="Topping2">
                    <option value="Pepperoni">Pepperoni</option>
                    <option value="Mushrooms">Mushrooms</option>
                    <option value="Onions">Onions</option>
                    <option value="Sausage">Sausage</option>
                    <option value="Bacon">Bacon</option>
                    <option value="Extra cheese">Extra cheese</option>
                    <option value="Black olives">Black olives</option>
                    <option value="Green peppers">Green peppers</option>
                </select>
            </div>
            <div class="form-group">
                <select asp-for="Topping3">
                    <option value="">N/A</option>
                    <option value="Pepperoni">Pepperoni</option>
                    <option value="Mushrooms">Mushrooms</option>
                    <option value="Onions">Onions</option>
                    <option value="Sausage">Sausage</option>
                    <option value="Bacon">Bacon</option>
                    <option value="Extra cheese">Extra cheese</option>
                    <option value="Black olives">Black olives</option>
                    <option value="Green peppers">Green peppers</option>
                </select>
            </div>

            <div class="form-group">
                <select asp-for="Topping4">
                    <option value="">N/A</option>
                    <option value="Pepperoni">Pepperoni</option>
                    <option value="Mushrooms">Mushrooms</option>
                    <option value="Onions">Onions</option>
                    <option value="Sausage">Sausage</option>
                    <option value="Bacon">Bacon</option>
                    <option value="Extra cheese">Extra cheese</option>
                    <option value="Black olives">Black olives</option>
                    <option value="Green peppers">Green peppers</option>
                </select>
            </div>
            <div class="form-group">
                <select asp-for="Topping5">
                    <option value="">N/A</option>
                    <option value="Pepperoni">Pepperoni</option>
                    <option value="Mushrooms">Mushrooms</option>
                    <option value="Onions">Onions</option>
                    <option value="Sausage">Sausage</option>
                    <option value="Bacon">Bacon</option>
                    <option value="Extra cheese">Extra cheese</option>
                    <option value="Black olives">Black olives</option>
                    <option value="Green peppers">Green peppers</option>
                </select>
            </div>

            <div class="form-group">
                <label asp-for="NumberOfPizza" class="control-label"></label>
                <input min="1" max="100" asp-for="NumberOfPizza" class="form-control" />
                <span asp-validation-for="NumberOfPizza" class="text-danger"></span>
            </div>
            <p style="color:red">@ViewBag.Message</p>
            <p style="color:red">@ViewBag.Message2</p>
            <div class="form-group">
                <input type="submit" value="Add to Cart" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<div>
    <a asp-action="UserMenu">Back to Main Menu</a>
</div>
<div>
    <a asp-action="Login">Log Out</a>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
