
@{
    ViewData["Title"] = "PlaceOrder";
}
    <div class="text-center" style="padding:30px 300px 20px 300px;">
        <h1>Order Successfully Placed!</h1>
        <p><a asp-controller="AppUser" asp-action="UserMenu" class=" btn-primary btn-lg btn-block">Back to Menu</a></p>
    </div>

